.container{
    display: grid;
    grid-template-columns: 50px 150px auto auto 60px 60px 60px 60px;
    grid-template-rows: 2fr;
   
}
.menu-button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.menu-button img{
    width: 20px;
}

.youtubelogo{
    background-color: green;
    border: none;
    background-color: white;
    cursor: pointer;
}

.youtubelogo img{
    width: 100px;
}
.searc-bar{
    border: lightgray 1px;
    justify-self:  right;
    align-self: center;
    
}
.search-input{
    height: 25px;
    width:  500px;
}
.srch-button{
    cursor: pointer;
    border: none;
    background-color: white;

  
}

.camera{
    align-self: center;
}
.log-button{
    border: none;
    background-color: rgb(116, 0, 199);
    border-radius: 50%;
}
.mic-button{
    cursor: pointer;
    border: none;
    background-color: white;
}
.mic-button img{
    width: 15px;
}
.cam-button{
    cursor: pointer;
    justify-self: center;
    border: none;
    background-color: white;
}

.cam-button img{
    width: 25px;
}

.apps-button{
    cursor: pointer;
    justify-self: center;
    border: none;
    background-color: white;

}
.apps-button img{
    width: 25px;
}
.bell-button{
    cursor: pointer;
    border: none;
    background-color: white;
}
.bell-button img{
    width: 25px;
}

.srch-button img{
    width: 20px;
}
.log-button img{
    width: 25px;
}
.main{
    display: grid;
    grid-template-columns: 650px 50px 50px 50px 50px 50px;
    grid-template-rows: auto auto;

}
.video{
    grid-column: 1/2;
    margin-top: 30px;
    margin-left: 20px;
   
    
}
.video-title{
    grid-column: 1/2;
    
    margin-left: 20px;
}

.view{
    grid-column: 1;
    margin-left: 20px;
}

.like{
    background-color: white;
    border: none;
    
}

.dislike{
    background-color: white;
    border: none;
   
}