.container{
    display: grid;
    grid-template-columns: 50px 150px auto auto 60px 60px 60px 60px;
    grid-template-rows: 2fr;
   
}
.menu-button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.menu-button img{
    width: 20px;
}

.youtubelogo{
    background-color: green;
    border: none;
    background-color: white;
    cursor: pointer;
}

.youtubelogo img{
    width: 100px;
}
.searc-bar{
    border: lightgray 1px;
    justify-self:  right;
    align-self: center;
    
}
.search-input{
    height: 25px;
    width:  500px;
}
.srch-button{
    cursor: pointer;
    border: none;
    background-color: white;

  
}

.camera{
    align-self: center;
}
.log-button{
    cursor: pointer;
    background-color: white;
    border: none
}
.log-button img{
    border: none;
    border-radius: 50%;
}
.mic-button{
    cursor: pointer;
    border: none;
    background-color: white;
}
.mic-button img{
    width: 15px;
}
.cam-button{
    cursor: pointer;
    justify-self: center;
    border: none;
    background-color: white;
}

.cam-button img{
    width: 25px;
}

.apps-button{
    cursor: pointer;
    justify-self: center;
    border: none;
    background-color: white;

}
.apps-button img{
    width: 25px;
}
.bell-button{
    cursor: pointer;
    border: none;
    background-color: white;
}
.bell-button img{
    width: 25px;
}

.srch-button img{
    width: 20px;
}
.log-button img{
    width: 25px;
}
.main{
    display: grid;
    grid-template-columns: 700px 60px 60px 60px 60px 60px auto;
    grid-template-rows: auto auto ;

}
.other-videos{
    grid-row: 1/7;
    grid-column: 7;
    
}
.video{
    grid-column: 1/2;
    margin-top: 30px;
    margin-left: 20px;
   
    
}
.video-title{
    grid-column: 1/2;
    margin-left: 20px;
}
.video-title p{
    font-weight: bold;
}

.view{
    grid-column: 1;
    margin-left: 20px;
    border-bottom: gray solid 1px;

}
.view p{
    color: gray;
}

.like{
    background-color: white;
    border: none;
    
}

.dislike{
    background-color: white;
    border: none;
   
}

.share-button{
    background-color: white;
    border: none;
}

.save-button{
    background-color: white;
    border: none;
}
.doticon{
    background-color: white;
    border: none;

}
.dot-menu{
    border-bottom: gray solid 1px;
}
.save{
    border-bottom: gray solid 1px;
}
.save img{
    width: 20px;

}
.share{
    border-bottom: gray solid 1px;

}
.share img{
    width: 20px;
}
.thumbsdown{
    border-bottom: gray solid 3px;


}
.thumbsdown img{
    width: 25px;
}
.thumbsup{
    border-bottom: gray solid 3px;
}
.thumbsup img{
    width: 35px;
}

.channel-logo img{
    margin-top: 20px;
    margin-left: 15px;
    width: 40px;
    border-radius: 50%;
}

.channel-info{
    display: grid;
    grid-template-columns: 80px 780px 150px;
}

.channel-info{
    text-align: left;
}

.channel-name{
    margin-top: 5px;
}
.channel-subscribers-count{
    height: 30px;
}


.subscribers-button{

    margin-top: 20px;
    text-align: center;
    height: 50px;
    width: 140px;
    color: white;
    background-color: red;
    border: none;
}

.header-buttons{
    margin-top: 25px;
}
.all-button{
    width: 25px;
    height: 20px;
    border: none;
    border-radius: 25px;
}